
body {
    text-align: center;
}

/*Fixed Nav bar*/
ul {
    
    list-style-type: none;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #fff;
    border: 5px solid #6ba36d;
}

li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li {
    text-align: center;
    border-bottom: none;
}

li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #6ba36d;
    color: #fff;
}

li a:hover:not(.active) {
    background-color: #6ba36d;
    color: #fff;
}



/*Image in center*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

/*Centered image with a filter*/
.filter1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 10%;
    filter: saturate(10);
}

/*centered image with multiple filters*/
.filter2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    filter:saturate(3) invert(5) brightness(1);
}

/*image with round corners*/
.round1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    filter: sepia(50%);
    border-radius: 50px; 
}

/*Image with two round corners*/
.round2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    filter: sepia(50%);
    border-radius: 50px 0px; 
}

/*Properties for entire table*/
table,th,td{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border: 7px ridge #8f3b3b;
    padding: 5px #5c1b13;
}

/*background color on table header*/
th{
    font: bold;
    color: #fff;
    background-color: #803e42;
}

/*container that holds image and text */
.container{
    position: relative;
    color: #fff;
    padding: 10px;
   }

/*--Center text to image*/
.text1 {
    z-index: 100;
    position: relative;
    top: 8px;
    left: 16px;
    transform: translateY(-300px);
    font-size: 20px;
    font-weight: bold;
}


.text2 {
    z-index: 100;
    position: relative;
    bottom: 8px; 
    left: 16px;  
    transform: translateY(-95px);
    font-size: 25px;
    font-weight: bolder;
}


footer{
    text-align: center;
    font-weight: bold;
}